.work-card-p{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    width: 90%;
    margin: auto;
    min-width: 320px;
}

.work{
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    width: 90%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    max-width: 100%;

}

.work-row h1{
    font-size: 50px;
    font-weight: 500;
    line-height: 75px;
}
 p{
    color: rgb(84, 85, 85);
    font-weight: 450;
 }

