.work-card-p{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    width: 90%;
    margin: auto;
    min-width: 320px;
    /* border: 2px solid black; */
    /* padding: 30px; */
}

.work{
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    width: 90%;
    /* background-color: rgb(169, 181, 147); */
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    /* border: 2px solid black; */
    max-width: 100%;

}

.work>h1{
    font-size: 50px;
    font-weight: 500;
    line-height: 75px;
}
 p{
    color: rgb(84, 85, 85);
    font-weight: 450;
 }

